.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.clearBtn {
    color: #99A1AF;
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-family: "Intern", sans-serif;
    transition: all 0.2s;
}

.clearBtn:hover {
    cursor: pointer;
    color: #C9A55C;
}

.list {
    display: grid;
    gap: 0.75rem;
    max-height: 20rem;
    overflow-y: auto;
}

.list img {
    max-width: 2.5rem;
}

.item {
    border-radius: 0.5rem;
    border: 0.606px solid #333;
    background-color: #0F0F0F;
    padding: 1.04rem;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    gap: 0.5rem;
    font-family: "Intern", sans-serif;
    transition: all 0.15s;
    min-height: 3.6625rem;
    overflow-y: visible;
    flex-wrap: wrap;
}

.item:hover {
    cursor: pointer;
    border-color: #C9A55C;
}

.wordFrom {
    color: #D1D5DC;
    word-break: break-word;
}

.wordResult {
    color: #99A1AF;
    font-family: "Intern", sans-serif;
    font-style: italic;
    line-height: 1.5rem;
    word-break: break-word;
}